extends ../layout
block css
    link(href="/assets/venders/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet")
    link(href="/assets/venders/nestable/jquery.nestable.css" rel="stylesheet")
block content
    .row
        .col-lg-4
            .card-box
                h4.text-dark.header-title.m-t-0 #{flow.flowName}
                p.text-muted.m-b-30.font-13 #{flow.flowDescription}
                form(role="form" method='post' action='/flow/update')
                    .form-group.hidden
                        label(for="flowId") Flow Id
                        input#flowId.form-control(type="text" placeholder="Enter flow name" name="flowId" value=flow.flowId)
                    .form-group
                        label(for="flowName") Flow name
                        input#flowName.form-control(type="text" placeholder="Enter flow name" name="flowName" value=flow.flowName)
                    .tags-default
                        label(for="flowTags") Flow tags
                        .form-group
                            input#flowTags.form-control(type="text" data-role="tagsinput" placeholder="add tags" name="flowTags" value=flow.flowTags)
                            small#emailHelp.form-text.text-muted Press enter to add new tag.
                    .form-group
                        label(for="triggerType") Trigger type
                        select#triggerType.form-control(name="triggerType")
                            option(value="active" selected) Cron表达式触发
                    .form-group
                        label(for="cron") Cron expression
                        input#cron.form-control(type="text" placeholder="cron expression here" name="cron" value=flow.cron)
                    .form-group
                        label(for="flowTimezone") Cron expression timezone
                        input#flowTimezone.form-control(type="text" placeholder="cron expression timezone" name="flowTimezone" value=flow.flowTimezone readonly)
                    .form-group
                        label(for="flowDescription") Flow description
                        textarea.form-control(rows="5" name="flowDescription")
                            | #{flow.flowDescription}
                    .form-group
                        label(for="flowState") Flow state
                        .input-group.mb-3
                            .input-group-prepend
                                button.btn.btn-purple.waves-effect.waves-light.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") State 
                                .dropdown-menu
                                    a.dropdown-item(data-value='ACTIVE' data-state='1') Active
                                    a.dropdown-item(data-value='PAUSE' data-state='0') Pause
                            input.flowState.form-control(type="text" placeholder="" value=flow.flowState readonly)
                    .form-group.text-right.m-b-0
                        button.btn.btn-success(type="submit") Update
        .col-lg-8
            .card-box
                a#addNodeToRoot.pull-right.btn.btn-default.btn-sm.waves-effect.waves-light(href="#") Add to root
                h4.text-dark.header-title.m-t-0 Flow plugins
                p.text-muted.m-b-30.font-13
                    | You could add or edit flow/plugins here
                #nestable_list_1.custom-dd.dd           
                    mixin nodeCascade(flowNodes)
                        ol.dd-list
                            each node in flowNodes
                                li.dd-item(data-id=node.nodeId)
                                    div(class=`dd-handle handle-${node.signal.toLowerCase()}`)
                                        span.font-bold #{node.pluginInfo.name} (ID: #{node.nodeId}) (爹: #{node.parentId})↖
                                            .m-t-20
                                                p.pull-right.m-b-0.button-list
                                                    button.btn.btn-icon.btn-inverse.waves-effect.waves-light(type="button" data-toggle="tooltip" data-placement="top" title="Anyway" data-parent-id=node.parentId data-flow-id=node.flowId data-signal="ANY" data-add-node="1" data-node-id=node.nodeId)
                                                        i.fa.fa-arrow-down
                                                    button.btn.btn-warning.waves-effect.waves-light(type="button" data-toggle="tooltip" data-placement="top" title="If failure" data-parent-id=node.parentId data-flow-id=node.flowId data-signal="FAILURE" data-add-node="1" data-node-id=node.nodeId)
                                                        i.fa.fa-arrow-left
                                                    button.btn.btn-success.waves-effect.waves-light(type="button" data-toggle="tooltip" data-placement="top" title="If success" data-parent-id=node.parentId data-flow-id=node.flowId data-signal="SUCCESS" data-add-node="1" data-node-id=node.nodeId)
                                                        i.fa.fa-arrow-right
                                                    button.btn.btn-info.waves-effect.waves-light(type="button" data-toggle="tooltip" data-placement="top" title="Edit" data-parent-id=node.parentId data-flow-id=node.flowId data-node-id=node.nodeId)
                                                        i.fa.fa-pencil
                                                    button.btn.btn-danger.waves-effect.waves-light(type="button" data-toggle="tooltip" data-placement="top" title="Remove(include subs)" data-parent-id=node.parentId data-flow-id=node.flowId data-node-id=node.nodeId)
                                                        i.fa.fa-trash
                                                p.m-b-0
                                                    a.text-muted(href="")
                                                        img.thumb-sm.rounded-circle.m-r-10(src="/assets/images/users/avatar-1.jpg" alt="task-user")
                                                        span.font-bold Signal type: #{node.signal}
                                    if node.children.length && node.children.length > 0
                                        +nodeCascade(node.children)
                    +nodeCascade(nodes)  
block script
    script(src="/assets/venders/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js")
    script(src="/assets/venders/artDialog/dist/dialog-plus.js")
    script(src="/assets/venders/nestable/jquery.nestable.js")
    script(src="/assets/venders/notifyjs/js/notify.js")
    script(src="/assets/venders/notifications/notify-metro.js")
    script(src="/assets/pages/flow.detail.js")