extends ../external

block css
    link(href="/assets/venders/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet")

block content
    .row
        .col-md-12
            .card-box
                h4.m-t-0.m-b-30.header-title Add node of plugin #{name}
                form(role="form"  method='post')
                    each field in fields
                        .form-group
                            label(for="flowName") #{field.display}
                            input#flowName.form-control(type="text" placeholder=`type is ${field.type.name}` name=field.name required=field.required ? "required" : false)
                            small#emailHelp.form-text.text-muted required: #{ field.required ? "true" : "false" }
                    button.btn.btn-success(type="submit") Add

block script
    script(src="/assets/venders/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js")