extends ../external

block css
    link(href="/assets/venders/custombox/css/custombox.css" rel="stylesheet")
    link(href='/assets/venders/ladda-buttons/css/ladda-themeless.min.css', rel='stylesheet', type='text/css')


block content
    .row
        .col-md-8
            form(role="form")
                .form-group.contact-search.m-b-30
                    input#search.form-control(type="text" placeholder="Search...")
                    button.btn.btn-white(type="submit")
                        i.fa.fa-search
        .col-md-4
            a.btn.btn-default.waves-effect.waves-light.m-b-30(href="#custom-modal" data-animation="fadein" data-plugin="custommodal" data-overlayspeed="200" data-overlaycolor="#36404a")
                i.md.md-add
                |  Add new plugin
    .row
        each plugin in plugins
            .col-sm-6.col-lg-4
                .card-box
                    .contact-card
                        a.pull-left
                            img.rounded(src="https://raw.githubusercontent.com/sirius1024/pubimgs/master/fake-avatar/fake3.png" alt="")
                        .member-info
                            h4.m-t-0.m-b-5.header-title
                                b #{plugin.pluginName}
                            p.text-muted #{plugin.pluginDesc}
                            p.text-dark
                                i.md.md-contacts.m-r-10
                                small #{plugin.author}
                            .contact-action
                                a.btn.btn-success.btn-sm(href=`/plugin/detail/${plugin.pluginId}/${path}`)
                                    i.md.md-done
                                a.btn.btn-danger.btn-sm.m-l-5
                                    i.md.md-delete
                        ul.social-links.list-inline.m-0
                            li.list-inline-item
                                a.tooltips(href=plugin.pluginRepo target="_blank" data-placement="top" data-toggle="tooltip" data-original-title="Git")
                                    i.fa.fa-git-square
                            li.list-inline-item
                                a.tooltips(target="_blank" data-placement="top" data-toggle="tooltip" href=plugin.issue data-original-title="Issues")
                                    i.fa.fa-bug
    #custom-modal.modal-demo
        button.close(type="button" onclick="Custombox.close();")
            span ×
            span.sr-only Close
        h4.custom-modal-title Add Plugin (asynchronous task)
        .custom-modal-text.text-left
            #form
                .form-group
                    label(for="gitLink") Git repository
                    input#gitLink.form-control(type="text" placeholder="e.g. https://github.com/viaflow/plugin-http.git" name="repo")
                .form-group
                    label(for="rename") ReName
                    input#rename.form-control(name="rename" type="text" placeholder="e.g. plugin-http to http")
                button#addPlugin.ladda-button.btn.btn-primary(data-style='expand-left')
                    | Submit
                button.btn.btn-danger.waves-effect.waves-light.m-l-10(type="button" onclick="Custombox.close();") Cancel

block script
    script(src="/assets/venders/custombox/js/custombox.min.js")
    script(src="/assets/venders/custombox/js/legacy.min.js")
    script(src='/assets/venders/ladda-buttons/js/spin.min.js')
    script(src='/assets/venders/ladda-buttons/js/ladda.min.js')
    script(src="/assets/venders/notifyjs/js/notify.js")
    script(src="/assets/venders/notifications/notify-metro.js")
    script(src="/assets/pages/plugin.list.js")